# Practicing Quick Encoding

In [13]:
import pandas as pd 
    
df = pd.DataFrame({'vertebrates':[
'Bird',
'Bird',
'Mammal',
'Fish',
'Amphibian',
'Reptile',
'Mammal',
]})

In [14]:
df

  vertebrates
0        Bird
1        Bird
2      Mammal
3        Fish
4   Amphibian
5     Reptile
6      Mammal

In [16]:
df = pd.get_dummies(df, columns=['vertebrates'])

In [17]:
df

,vertebrates_Amphibian,vertebrates_Bird,vertebrates_Fish,vertebrates_Mammal,vertebrates_Reptile
0,0,1,0,0,0
1,0,1,0,0,0
2,0,0,0,1,0
3,0,0,1,0,0
4,1,0,0,0,0
5,0,0,0,0,1
6,0,0,0,1,0

In [37]:
df = pd.DataFrame({'vertebrates':[
'Bird',
'Bird',
'Mammal',
'Fish',
'Amphibian',
'Reptile',
'Mammal',
]})

In [44]:
df['vertebrates_codes'] = df.vertebrates.astype('category').cat.codes
df.sort_values(['vertebrates_codes'], ascending=False)

  vertebrates  vertebrates_codes
5     Reptile                  4
2      Mammal                  3
6      Mammal                  3
3        Fish                  2
0        Bird                  1
1        Bird                  1
4   Amphibian                  0

# Practicing Bag of Words

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

corpus = [
    "Authman ran faster than Harry because he is an athlete.",
    "Authman and Harry ran faster and faster."
]

bow = CountVectorizer()

X = bow.fit_transform(corpus)

print(X)
print(bow.get_feature_names())
print(X.toarray())

  (0, 2)	1
  (0, 0)	1
  (0, 8)	1
  (0, 7)	1
  (0, 4)	1
  (0, 6)	1
  (0, 10)	1
  (0, 5)	1
  (0, 9)	1
  (0, 3)	1
  (1, 1)	2
  (1, 6)	1
  (1, 5)	2
  (1, 9)	1
  (1, 3)	1
['an', 'and', 'athlete', 'authman', 'because', 'faster', 'harry', 'he', 'is', 'ran', 'than']
[[1 0 1 1 1 1 1 1 1 1 1]
 [0 2 0 1 0 2 1 0 0 1 0]]

# Practicing Folder Looping

In [48]:
import os
files = os.listdir()
files

['.git',
 '.gitattributes',
 '.ipynb_checkpoints',
 'graphic_cards.csv',
 'LCA_binary_search_tree.py',
 'Learning Material.md',
 'MST_Krustals_Variant.py',
 'python_tips.md',
 'Random Practice.ipynb',
 'README.md',
 'SLL_find_from_end.py',
 'Soup_Graphic_Cards.py']