In [1]:
import time
import calendar
from datetime import datetime
import pandas as pd

In [20]:
print("Number of ticks:\n", time.time())

Number of ticks:
 1557687999.8243248

In [21]:
print("Local Time:\n", time.localtime(time.time()))
print("\nReadeable Format:\n", time.asctime(time.localtime(time.time())))
print("")

Local Time:
 time.struct_time(tm_year=2019, tm_mon=5, tm_mday=12, tm_hour=15, tm_min=6, tm_sec=40, tm_wday=6, tm_yday=132, tm_isdst=1)

Readeable Format:
 Sun May 12 15:06:40 2019

In [22]:
cal = calendar.month(2008, 1)
print("Here is the calendar:", cal)

Here is the calendar:     January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [23]:
# Create dates dataframe with frequency 
data = pd.date_range('1/1/2011', periods = 10, freq ='H') 

data

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [26]:
# Create date and time with dataframe 
data = pd.date_range('1/1/2011', periods = 10, freq ='H') 
x = datetime.now() 
x.month, x.year

(5, 2019)

In [53]:
# Create date and time with dataframe 
data = pd.date_range('1/1/2011', periods = 10, freq ='H') 
x = datetime.today() 
x.month, x.year

(5, 2019)

In [27]:
# Create date and time with dataframe 
rng = pd.DataFrame() 
rng['date'] = pd.date_range('1/1/2011', periods = 72, freq ='H') 

# Print the dates in dd-mm-yy format 
rng[:5] 

# Create features for year, month, day, hour, and minute 
rng['year'] = rng['date'].dt.year 
rng['month'] = rng['date'].dt.month 
rng['day'] = rng['date'].dt.day 
rng['hour'] = rng['date'].dt.hour 
rng['minute'] = rng['date'].dt.minute 

# Print the dates divided into features 
rng.head(3)

                 date  year  month  day  hour  minute
0 2011-01-01 00:00:00  2011      1    1     0       0
1 2011-01-01 01:00:00  2011      1    1     1       0
2 2011-01-01 02:00:00  2011      1    1     2       0

In [32]:
# Input present datetime using Timestamp 
t = pd.Timestamp.now() 
t

Timestamp('2019-05-12 15:09:59.479056')

In [42]:
# Convert timestamp to datetime 
t.to_datetime64()

numpy.datetime64('2019-05-12T15:09:59.479056000')

In [45]:
# Directly access and print the features 
print(t.year, 
t.month,
t.day,
t.hour,
t.minute,
t.second)

2019 5 12 15 9 59

In [47]:
url = 'http://bit.ly/uforeports'

# read csv file 
df = pd.read_csv(url)
df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [48]:
# Convert the Time column to datatime format 
df['Time'] = pd.to_datetime(df.Time) 
df.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [49]:
# shows the type of each column data 
df.dtypes

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

In [50]:
# Get hour detail from time data 
df.Time.dt.hour.head()

0    22
1    20
2    14
3    13
4    19
Name: Time, dtype: int64

In [51]:
# Get name of each date 
df.Time.dt.weekday_name.head()

0     Sunday
1     Monday
2     Sunday
3     Monday
4    Tuesday
Name: Time, dtype: object

In [52]:
# Get ordinal day of the year 
df.Time.dt.dayofyear.head()

0    152
1    181
2     46
3    152
4    108
Name: Time, dtype: int64

In [70]:
(datetime.today().strftime("%Y%m%d"),
datetime.today(),
today.strftime("%m/%d/%Y"),
today.strftime("%Y-%m-%d-%H.%M.%S"))

('20190512',
 datetime.datetime(2019, 5, 12, 15, 22, 58, 946673),
 '05/12/2019',
 '2019-05-12-15.18.51')

In [69]:
(time.ctime(), 
time.ctime(time.time()), 
time.ctime(1384112639), 
time.strftime("%Y-%m-%d-%H.%M.%S", time.localtime()))

('Sun May 12 15:22:28 2019',
 'Sun May 12 15:22:28 2019',
 'Sun Nov 10 14:43:59 2013',
 '2019-05-12-15.22.28')

In [2]:
# from unix time to date
datetime.fromtimestamp(1373234211)

datetime.datetime(2013, 7, 7, 17, 56, 51)