In [19]:
import pandas as pd
import statistics

In [22]:
menu = pd.DataFrame({'Category':['Eggs', 'Eggs', 'Eggs', 'Bacon', 'Bacon', 'Eggs'], 
                     'Value': [20, 10, 10, 50, 38, None]})
menu

  Category  Value
0     Eggs   20.0
1     Eggs   10.0
2     Eggs   10.0
3    Bacon   50.0
4    Bacon   38.0
5     Eggs    NaN

In [23]:
impute_by_group = menu.groupby('Category').Value.transform('median')
impute_by_group

0    10.0
1    10.0
2    10.0
3    44.0
4    44.0
5    10.0
Name: Value, dtype: float64

In [24]:
menu.Value.fillna(impute_by_group)

0    20.0
1    10.0
2    10.0
3    50.0
4    38.0
5    10.0
Name: Value, dtype: float64

In [31]:
mode = menu.groupby('Category').Value.apply(lambda x: x.value_counts().index[0]).to_dict()
mode_fill = menu.assign(bedrooms=lambda x: x.Category.map(mode)).bedrooms
mode_fill

0    10.0
1    10.0
2    10.0
3    38.0
4    38.0
5    10.0
Name: bedrooms, dtype: float64

In [34]:
menu.Value.fillna(mode_fill, inplace=True)

In [35]:
menu

  Category  Value
0     Eggs   20.0
1     Eggs   10.0
2     Eggs   10.0
3    Bacon   50.0
4    Bacon   38.0
5     Eggs   10.0