# Imports Always First

In [11]:
import pandas as pd
import numpy as np
import random

# Data Creation

In [46]:
data_dict = {'NoNulls': np.arange(0, 10), 
             'AllNulls': [np.nan for x in np.arange(0, 10)],
             'SomeNulls': [x if x < 7 else np.nan for x in random.sample(range(10), 10)]}

In [48]:
df_data_null = pd.DataFrame(data_dict)

# Null Identification

## Counting Nulls

In [49]:
df_data_null.isnull().sum()

NoNulls       0
AllNulls     10
SomeNulls     3
dtype: int64

## Output Rows With Nulls

Let's query only rows with nulls.

In [50]:
df_data_null[df_data_null.isnull().any(axis=1)]

   NoNulls  AllNulls  SomeNulls
0        0       NaN        NaN
1        1       NaN        1.0
2        2       NaN        4.0
3        3       NaN        NaN
4        4       NaN        6.0
5        5       NaN        0.0
6        6       NaN        2.0
7        7       NaN        5.0
8        8       NaN        3.0
9        9       NaN        NaN

Now, let's drop rows with all nulls.

In [55]:
df_data_null = df_data_null.dropna(how='all', axis=1)
df_data_null

   NoNulls  SomeNulls
0        0        NaN
1        1        1.0
2        2        4.0
3        3        NaN
4        4        6.0
5        5        0.0
6        6        2.0
7        7        5.0
8        8        3.0
9        9        NaN

Now, let's use the same code to query only rows with nulls.

In [56]:
df_data_null[df_data_null.isnull().any(axis=1)]

   NoNulls  SomeNulls
0        0        NaN
3        3        NaN
9        9        NaN

We can see that only rows with containing nulls were shown. This is usefull to identify the reason for the value being null in relation to other fields.