In [45]:
from pyspark.sql import SparkSession
import os
import pandas as pd

# Starting Spark Session

In [2]:
spark = SparkSession.builder.appName("replace").getOrCreate()

# Creating Null Scenario

In [43]:
df = pd.read_csv('../tutorial-data/ClaimDataExample1.csv')
df = df.append(dict(CLM_NO=10000002.0), ignore_index=True).astype(str)
df['ALLOW_AMT'] = df['ALLOW_AMT'].astype(float)
df[df.ALLOW_AMT.isnull()]

          CLM_NO CLM_NO_LN RCV_DT SERV_DT RESOLVED_DT  ALLOW_AMT RESOLVED_AMT
1038  10000002.0       nan    nan     nan         nan        NaN          nan

# Convert Pandas to RDD

In [44]:
data = spark.createDataFrame(df)

# Replace string nan and NaN values to null values

In [40]:
data.replace(float('nan'), None).filter("ALLOW_AMT IS NULL").show()

+----------+---------+------+-------+-----------+---------+------------+
|    CLM_NO|CLM_NO_LN|RCV_DT|SERV_DT|RESOLVED_DT|ALLOW_AMT|RESOLVED_AMT|
+----------+---------+------+-------+-----------+---------+------------+
|10000002.0|      nan|   nan|    nan|        nan|     null|         nan|
+----------+---------+------+-------+-----------+---------+------------+

In [42]:
data.replace('nan', None).filter("CLM_NO_LN IS NULL").show()

+----------+---------+------+-------+-----------+---------+------------+
|    CLM_NO|CLM_NO_LN|RCV_DT|SERV_DT|RESOLVED_DT|ALLOW_AMT|RESOLVED_AMT|
+----------+---------+------+-------+-----------+---------+------------+
|10000002.0|     null|  null|   null|       null|      NaN|        null|
+----------+---------+------+-------+-----------+---------+------------+