In [105]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql.functions import datediff, avg
import pandas as pd

# Starting the Spark Session

In [2]:
spark = SparkSession.builder.appName('dateml').getOrCreate()

# Loading the Data

In [107]:
df = spark.read.csv('../tutorial-data/ClaimDataExample1.csv', header=True, inferSchema=True)

In [108]:
df.printSchema()

root
 |-- CLM_NO: integer (nullable = true)
 |-- CLM_NO_LN: integer (nullable = true)
 |-- RCV_DT: timestamp (nullable = true)
 |-- SERV_DT: timestamp (nullable = true)
 |-- RESOLVED_DT: timestamp (nullable = true)
 |-- ALLOW_AMT: double (nullable = true)
 |-- RESOLVED_AMT: double (nullable = true)

# Registering the Table

In [109]:
df.registerTempTable('ClaimMock')

In [110]:
spark.catalog.listTables()

[Table(name='claimmock', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

# Auto-selecting Date Fields

In [111]:
date_columns = [i[0] for i in list(filter(lambda x: x[1]=='timestamp', df.dtypes))]
df.select(date_columns).show()

+-------------------+-------------------+-------------------+
|             RCV_DT|            SERV_DT|        RESOLVED_DT|
+-------------------+-------------------+-------------------+
|2017-02-04 00:00:00|2017-02-14 00:00:00|2017-03-16 00:00:00|
|2017-07-08 00:00:00|2017-07-18 00:00:00|2017-08-17 00:00:00|
|2017-09-15 00:00:00|2017-09-25 00:00:00|2017-10-25 00:00:00|
|2018-03-03 00:00:00|2018-03-13 00:00:00|2018-04-12 00:00:00|
|2018-08-04 00:00:00|2018-08-14 00:00:00|2018-09-13 00:00:00|
|2018-12-22 00:00:00|2019-01-01 00:00:00|2019-01-31 00:00:00|
|2019-06-08 00:00:00|2019-06-18 00:00:00|2019-07-18 00:00:00|
|2019-09-24 00:00:00|2019-10-04 00:00:00|2019-11-03 00:00:00|
|2017-04-19 00:00:00|2017-04-29 00:00:00|2017-05-29 00:00:00|
|2017-09-03 00:00:00|2017-09-13 00:00:00|2017-10-13 00:00:00|
|2017-09-22 00:00:00|2017-10-02 00:00:00|2017-11-01 00:00:00|
|2017-10-09 00:00:00|2017-10-19 00:00:00|2017-11-18 00:00:00|
|2017-11-21 00:00:00|2017-12-01 00:00:00|2017-12-31 00:00:00|
|2018-03-08 00:00:00|2018-03-18 00:00:00|2018-04-17 00:00:00|
|2018-10-08 00:00:00|2018-10-18 00:00:00|2018-11-17 00:00:00|
|2019-02-21 00:00:00|2019-03-03 00:00:00|2019-04-02 00:00:00|
|2019-06-05 00:00:00|2019-06-15 00:00:00|2019-07-15 00:00:00|
|2019-06-11 00:00:00|2019-06-21 00:00:00|2019-07-21 00:00:00|
|2017-11-02 00:00:00|2017-11-12 00:00:00|2017-12-12 00:00:00|
|2018-02-22 00:00:00|2018-03-04 00:00:00|2018-04-03 00:00:00|
+-------------------+-------------------+-------------------+
only showing top 20 rows

In [112]:
df.withColumn('duration', datediff(df['RCV_DT'], df['SERV_DT'])).show()

+--------+---------+-------------------+-------------------+-------------------+------------------+------------------+--------+
|  CLM_NO|CLM_NO_LN|             RCV_DT|            SERV_DT|        RESOLVED_DT|         ALLOW_AMT|      RESOLVED_AMT|duration|
+--------+---------+-------------------+-------------------+-------------------+------------------+------------------+--------+
|10000000|        1|2017-02-04 00:00:00|2017-02-14 00:00:00|2017-03-16 00:00:00| 63.06704903424165| 8.829386864793833|     -10|
|10000000|        2|2017-07-08 00:00:00|2017-07-18 00:00:00|2017-08-17 00:00:00| 25.39506690821225|3.5553093671497153|     -10|
|10000000|        3|2017-09-15 00:00:00|2017-09-25 00:00:00|2017-10-25 00:00:00| 901.7757618741892| 126.2486066623865|     -10|
|10000000|        4|2018-03-03 00:00:00|2018-03-13 00:00:00|2018-04-12 00:00:00| 967.1990971331805| 135.4078735986453|     -10|
|10000000|        5|2018-08-04 00:00:00|2018-08-14 00:00:00|2018-09-13 00:00:00|325.94044087681294| 45.63166172275382|     -10|
|10000000|        6|2018-12-22 00:00:00|2019-01-01 00:00:00|2019-01-31 00:00:00|422.76725281952656|59.187415394733726|     -10|
|10000000|        7|2019-06-08 00:00:00|2019-06-18 00:00:00|2019-07-18 00:00:00|229.00809173708058| 32.06113284319128|     -10|
|10000000|        8|2019-09-24 00:00:00|2019-10-04 00:00:00|2019-11-03 00:00:00|158.57584405540027| 22.20061816775604|     -10|
|10000001|        1|2017-04-19 00:00:00|2017-04-29 00:00:00|2017-05-29 00:00:00|364.01482507701223|50.962075510781716|     -10|
|10000001|        2|2017-09-03 00:00:00|2017-09-13 00:00:00|2017-10-13 00:00:00| 766.5409716377119|107.31573602927968|     -10|
|10000001|        3|2017-09-22 00:00:00|2017-10-02 00:00:00|2017-11-01 00:00:00|467.70619678532256| 65.47886754994516|     -10|
|10000001|        4|2017-10-09 00:00:00|2017-10-19 00:00:00|2017-11-18 00:00:00| 721.5080964101223|101.01113349741713|     -10|
|10000001|        5|2017-11-21 00:00:00|2017-12-01 00:00:00|2017-12-31 00:00:00| 574.8919749536964|  80.4848764935175|     -10|
|10000001|        6|2018-03-08 00:00:00|2018-03-18 00:00:00|2018-04-17 00:00:00| 684.2685305410082| 95.79759427574116|     -10|
|10000001|        7|2018-10-08 00:00:00|2018-10-18 00:00:00|2018-11-17 00:00:00| 909.8860937486925|127.38405312481696|     -10|
|10000001|        8|2019-02-21 00:00:00|2019-03-03 00:00:00|2019-04-02 00:00:00| 345.2361719617338| 48.33306407464274|     -10|
|10000001|        9|2019-06-05 00:00:00|2019-06-15 00:00:00|2019-07-15 00:00:00|  272.663117246754|38.172836414545564|     -10|
|10000001|       10|2019-06-11 00:00:00|2019-06-21 00:00:00|2019-07-21 00:00:00| 628.1482711525709| 87.94075796135994|     -10|
|10000002|        1|2017-11-02 00:00:00|2017-11-12 00:00:00|2017-12-12 00:00:00| 488.3293972148256| 68.36611561007558|     -10|
|10000002|        2|2018-02-22 00:00:00|2018-03-04 00:00:00|2018-04-03 00:00:00| 849.0394867961313|118.86552815145839|     -10|
+--------+---------+-------------------+-------------------+-------------------+------------------+------------------+--------+
only showing top 20 rows

# Feature Engineering on Date Fields

In [113]:
# create all posible combinations
i = 0
while i < len(date_columns):    
    target_col = date_columns[i]
    for col in date_columns:
        if target_col != col:
            df = df.withColumn(f'{target_col}_to_{col}_diff', datediff(target_col, col))
    i += 1

In [116]:
df.select(list(filter(lambda x: 'diff' in x, df.columns))).show()

+----------------------+--------------------------+----------------------+---------------------------+--------------------------+---------------------------+
|RCV_DT_to_SERV_DT_diff|RCV_DT_to_RESOLVED_DT_diff|SERV_DT_to_RCV_DT_diff|SERV_DT_to_RESOLVED_DT_diff|RESOLVED_DT_to_RCV_DT_diff|RESOLVED_DT_to_SERV_DT_diff|
+----------------------+--------------------------+----------------------+---------------------------+--------------------------+---------------------------+
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
|                   -10|                       -40|                    10|                        -30|                        40|                         30|
+----------------------+--------------------------+----------------------+---------------------------+--------------------------+---------------------------+
only showing top 20 rows