# Imports Always First

In [1]:
import pandas as pd
import openpyxl as op

## <li id="cd">Creating DataFrames

### <ol> Transactions

In [2]:
transactions = {'TranDate': ['2017-01-01'],
                'TranDetail': ['The Local'],
                'TranStatus': ['Restaurant'],
                'TranAmount': [-10.00],
                'Balance': [10.00]}
transactions_df = pd.DataFrame(transactions)
transactions_df

     TranDate TranDetail  TranStatus  TranAmount  Balance
0  2017-01-01  The Local  Restaurant       -10.0     10.0

### <ol> Categories

In [3]:
categories = ['Groceries', 'Restaurant', 'Entertainment']
categories_df = pd.DataFrame(categories, columns=['Categories'])
categories_df

      Categories
0      Groceries
1     Restaurant
2  Entertainment

# Excel Writer

## <li id=""> Creating File

In [4]:
wb = op.Workbook()
wb.save('example_writer.xlsx')
print(wb.sheetnames)

['Sheet']

## <li id=""> Insert Transactions Dataframe in First Sheet

In [14]:
# This will override the above cell
# Thus you can create a new workbook using this method
transactions_df.to_excel('example_writer.xlsx', sheet_name='ChangeMyName')

## <li id=""> Loading Workbook

In [15]:
book = op.load_workbook('example_writer.xlsx')
print(book.sheetnames)

['ChangeMyName']

## <li id=""> Change Sheet Name

In [16]:
sheet = book['ChangeMyName']
sheet.title = 'Transactions'
book.sheetnames

['Transactions']

## <li id=""> Create Pandas Writer

In [17]:
# Creating the writer
writer = pd.ExcelWriter('example_writer.xlsx', engine='openpyxl')
# Assigning the opened workbook as the writer book
writer.book = book
# Copying all the sheets from the current workbook
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

## <li id=""> Insert Category Dataframe in Second Sheet

In [18]:
categories_df.to_excel(writer, 'Categories')
writer.save()
print(book.sheetnames)

['Transactions', 'Categories']