# Imports Always First

In [2]:
import pandas as pd

We create the dataframe.

In [3]:
df = pd.DataFrame({'col1': [1, 2, 3, 5, 6, 7], 'col2': ['I', 'will', 'find', 'this', 'in', 'here!']})

# Finding Characters in the DataFrame

In [4]:
display(df)

   col1   col2
0     1      I
1     2   will
2     3   find
3     5   this
4     6     in
5     7  here!

In [6]:
# in dataframe
display(df.col2 == 'I')

0     True
1    False
2    False
3    False
4    False
5    False
Name: col2, dtype: bool

In [7]:
# in series
display(df.col2 == 'I')

0     True
1    False
2    False
3    False
4    False
5    False
Name: col2, dtype: bool

In [8]:
# series contains letters
df.col2.str.contains('is')

0    False
1    False
2    False
3     True
4    False
5    False
Name: col2, dtype: bool

In [10]:
# series starts with or match
df.col2.str.match('here!')

0    False
1    False
2    False
3    False
4    False
5     True
Name: col2, dtype: bool

In [12]:
# series ends with
df.col2.str.endswith('re!')

0    False
1    False
2    False
3    False
4    False
5     True
Name: col2, dtype: bool

In [13]:
# series starts with
df.col2.str.startswith('he')

0    False
1    False
2    False
3    False
4    False
5     True
Name: col2, dtype: bool

# Bonus

In [14]:
df.col2.str.cat(sep=' ')

'I will find this in here!'