# Imports Always First

In [1]:
import pandas as pd
import numpy as np

# Creating Dataframe

In [2]:
df = pd.DataFrame([['Apples', 2], 
                   ['Pears'], 
                   ['Pineapples', 3]],
             columns=['Fruit', 'Qty'])
display(df)

        Fruit  Qty
0      Apples  2.0
1       Pears  NaN
2  Pineapples  3.0

# Using .query() Method

In [23]:
# select only Fruits with quantities using .query()
df.query("Qty==Qty")

        Fruit  Qty
0      Apples  2.0
2  Pineapples  3.0

In [24]:
# select fruits with no quantity using .query()
df.query("Qty!=Qty")

   Fruit  Qty
1  Pears  NaN

In [26]:
# select the fruit with maximun count using .query()
df.query("Qty==Qty.max()")

        Fruit  Qty
2  Pineapples  3.0